<footer class="main-footer">
    <div class="developer">
        <a href="https://guimartins.dev.br/" target="_blank" rel="noreferrer noopener">By Guilherme Martins</a>
    </div>

    <div id="social-links">
        <a href="https://github.com/guimartinsa" target="_blank">
            <ion-icon name="logo-github" role="img" class="md hydrated" aria-label="logo github"></ion-icon>
        </a>

        <a href="https://www.instagram.com/_guimartinsa/" target="_blank">
            <ion-icon name="logo-instagram" role="img" class="md hydrated" aria-label="logo instagram"></ion-icon>
        </a>

        <a href="https://www.linkedin.com/in/guimartinsa/" target="_blank">
            <ion-icon name="logo-linkedin" role="img" class="md hydrated" aria-label="logo linkedin"></ion-icon>
        </a>

        <a href="https://contate.me/guimartinsa" target="_blank">
            <ion-icon name="logo-whatsapp" role="img" class="md hydrated" aria-label="logo whatsapp"></ion-icon>
        </a>
    </div>
    
    <div class="powered">
        <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Powered by Django</a>
    </div>


</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>